body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: aquamarine;
    font-size: 25px;
}

.container {
    margin: 20px auto;
    max-width: 300px;
    color: rgb(210, 30, 60);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #aaa;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.status {
    margin-top: 10px;
}

button {
    margin-top: 10px;
}
